{% extends 'hotels/layout.html' %}
{% block content %}
    <div class="container">
        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="input-group my-5">
                <input type="text" class="form-control" name="place" placeholder="City, Country">
                <div class="input-group-append">
                    <select class="form-select" name="price">
                        <option value="0">Price</option>
                        <option value="1">1-50 $</option>
                        <option value="2">51-100 $</option>
                        <option value="3">101-150 $</option>
                        <option value="4">151-200 $</option>
                        <option value="5">200+ $</option>
                    </select>
                </div>
                <div class="input-group-append">
                    <select class="form-select" name="rating">
                        <option value="0">Rating</option>
                        <option value="1">>1 Star</option>
                        <option value="2">>2 Stars</option>
                        <option value="3">>3 Stars</option>
                        <option value="4">>4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <div class="input-group-append">
                    <select class="form-select" name="order">
                        <option value="0">Order</option>
                        <option value="1">Price Ascending</option>
                        <option value="2">Price Descending</option>
                        <option value="3">Rating Ascending</option>
                        <option value="4">Rating Descending</option>
                    </select>
                </div>
                <input type="date" class="form-control" name="checkin" placeholder="Check In">
                <input type="date" class="form-control" name="checkout" placeholder="Check Out">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center my-5">Rooms</h1>
            </div>
        </div>
        <div class="row">
            {% for room in rooms %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ room.image.url }}" class="card-img-top" alt="{{ room.hotel.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ room.hotel.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ room.hotel.city }}, {{ room.hotel.country}}</h6>
                            <p class="card-text">{{ room.description }}</p>
                            <p class="card-text">{{ room.room_type }}</p>
                            <p class="card-text">Price: ${{ room.price }}</p>
                            <a href="{% url 'room' room_id=room.id %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}